.message {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    word-break: break-all;
}

.Name-user {
    margin: 0;
    font-weight: 500;
}

.cursor-pointer {
    cursor: pointer;
}

.Message-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.Message-list > :first-child {
    margin-top: auto !important;
}

.Message-list-icons {
    flex-shrink: 0;
}