.App-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-content {
    flex-grow: 1;
    min-height: 0;
}

.App-message-list {
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.App-authorization {
    width: 50%;
    margin: auto;
    padding: 8px;
}

